.calculator-section__description {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 0 101px;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 991px) {


  .calculator-section__description {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .calculator-section__description {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }

  .calculator-section__title {
    margin-bottom: 10px;
  }
}