.calculator-section__description {
  display: grid;
  grid-template-columns: 10fr 12fr;
  grid-gap: 0 101px;
  align-items: center;
  margin-bottom: 60px;
}

.calculator-section__text {
  position: relative;
  top: -10px;
}

@media screen and (max-width: 991px) {
  .calculator-section__description {
    grid-template-columns: 12fr 10fr;
    grid-gap: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .calculator-section__description {
    grid-template-columns: 1fr;
    margin-bottom: 18px;
  }

  .calculator-section__title {
    margin-bottom: 22px;
  }
}