.header {
  height: 80px;
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__btn-inventory {
  min-width: 137px;
  margin-right: 20px;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn__line {
  display: block;
  width: 37px;
  height: 4px;
  margin-bottom: 9px;
  background: $main-color;
  border-radius: 7px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__btn-request {
  margin-right: 63px;
}

@media screen and (max-width: 991px) {
  .header__btn-request {
    min-width: 178px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 55px;
  }

  .header__btn-request {
    min-width: 130px;
    margin-right: 23px;
    font-size: 14px;
  }

  .header__btn-inventory {
    display: none;
  }

  .menu-btn__line {
    width: 30px;
    margin-bottom: 8px;
  }
}