.pagination__list {
  display: flex;
  justify-content: center;
}

.pagination__list-item {
  &:last-child {
    margin-right: 0;
  }

  &.active {
    .pagination__btn-icon {
      opacity: 1;
    }
  }
}

.pagination__btn {
  padding: 5px;
  cursor: pointer;
}

.pagination__btn-icon {
  display: block;
  padding: 5px;
  width: 10px;
  height: 10px;
  background: $secondary-text;
  border-radius: 50%;
  opacity: 0.3;
}