* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //transition: all 0.2s;
}

.container {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
}

body {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 16px;
  color: $primary-content;
}


@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-tablet {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 912px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  height: 45px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy Bold", sans-serif;
  text-transform: uppercase;
  line-height: 14px;
  border-radius: 2px;
  min-width: 200px;

  &[disabled] {
    opacity: 0.5;
  }
}

.btn_solid {
  background: $primary-accent;
  color: $text-light;

  &:hover {
    background-color: $hover-primary;
  }
}

.btn_liner {
  background: $text-light;
  color: $primary-accent;

  &:hover {
    border-color: $hover-primary;
  }
}

.btn_bordered {
  border: 1px solid $primary-accent;
}

.btn_width {
  max-width: 200px;
}

.title {
  font-family: "Gilroy ExtraBold", sans-serif;
  font-size: 60px;
  color: $text-light;
  letter-spacing: 0.02em;
  line-height: 108.5%;
}

.title-2 {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 45px;
  line-height: 140.5%;
}

.title-text {
  font-family: "Gilroy SemiBold", sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.subtitle {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 30px;
  color: $primary-accent;
  line-height: 140%;
}

.subtitle-2 {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 25px;
  color: $primary-content;
  letter-spacing: 0.02em;
  line-height: 140%;
}

.text {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: $secondary-text;
  line-height: 180%;
}

.section {
  padding: 110px 0;
}

.icon {
  display: block;
}

.section {
  padding: 110px 0;
}

.first-section {
}

.page-title {
  margin-top: 80px;
  height: 145px;
  background-image: url("@/assets/imgs/Bg.jpg");
  background-repeat: no-repeat;
  background-position: top 75% left;
  background-size: cover;
}

.page-title__content {
  height: 100%;
  display: flex;
  align-items: center;
}

.page-description {
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-description__content {
  display: grid;
  grid-template-columns: 10fr 12fr;
  grid-gap: 0 101px;
}

.page-description__text {
  margin-top: 11px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
}

.modal__wrap {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.modal__content {
  max-width: 570px;
  margin-left: auto;
  background: #fff;
  height: 100%;
  padding: 27px 125px 29px 60px;
  overflow: auto;
}

@media screen and (max-width: 991px) {
  .section {
    padding: 80px 0;
  }

  .page-description__content {
    grid-gap: 0 60px;
    grid-template-columns: 12fr 10fr;
  }

  .modal__content {
    max-width: 504px;
    padding: 26px 28px 105px 60px;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    height: 35px;
    font-size: 14px;
  }

  .title {
    font-size: 35px;
  }

  .title-2 {
    font-size: 30px;
  }

  .title-text {
    font-size: 18px;
  }

  .subtitle {
    font-size: 24px;
  }

  .subtitle-2 {
    font-size: 20px;
  }

  .section {
    padding: 40px 0;
  }

  .btn_width {
    max-width: 100%;
  }

  .page-title {
    height: 116px;
    margin-top: 55px;
    background: $primary-accent;
  }

  .page-description {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .page-description__content {
    grid-template-columns: 1fr;
  }

  .modal__content {
    max-width: 100%;
    padding: 14px 22px 50px 40px;
  }
}


.swiper-pagination-progressbar {
  background: red;
}