.car-card {
  border-radius: 5px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.car-card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px 5px 0px 0px;
}

.car-card__carousel-wrap {
  .swiper-pagination-progressbar {
    top: 95% !important;
    left: 50%!important;
    transform: translateX(-50%)!important;
    max-width: 95%!important;
    background: rgba(255, 255, 255, .2)!important;
    border-radius: 28px!important;
  }
}

.car-card__carousel-wrap {
  position: relative;
}

.car-card__carousel-pagination {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  height: 5px;
  z-index: 50;
}

.car-card__carousel-pagination-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 28px;
  max-width: 95%;
}

.car-card__carousel-pagination-fill {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.7;
  width: 30%;
  height: 100%;
  border-radius: 28px;
}

.car-card__swiper-slide {
  position: relative;
  padding-bottom: 51.4285714286%;

  .car-card__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
}

.car-card__text-wrap {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card__title {
  margin-bottom: 10px;
  padding: 0 20px;
}

.car-card__price {
  color: $primary-accent;
  margin-bottom: 20px;
  padding: 0 20px;
}

.car-card__info-list {
  display: flex;
  flex-wrap: wrap;
}

.car-card__info-list-item {
  position: relative;
  padding: 0 20px;
  text-transform: capitalize;

  &:last-child {
    margin-right: 0;
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 2px;
    height: 100%;
    display: block;
    background: #D7D7D7;
    border-radius: 5px;
  }
}
