.not-found {
  padding: 60px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #fff;
}

.not-found__icon {
  height: 30px;
  width: 90px;
  margin-bottom: 20px;
}

.not-found__title {
  margin-bottom: 10px;
}

.not-found__text {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .not-found {
    padding: 20px;
  }

  .not-found__title {
    margin-bottom: 5px;
  }
}