.modal-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.modal-contacts__cross {
  margin-bottom: 41px;
}

.modal__title {
  color: $primary-content;
  margin-bottom: 60px;
}

.modal-contacts__input {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-contacts__btn-submit {
  margin-top: 40px;
  min-width: unset;
  width: 100%;
}

.modal-contacts__socials-title {
  margin-bottom: 25px;
}

.modal__content_contacts {
  padding-right: 121px;
}

.modal-contacts__socials {
  padding-top: 60px;
}

.modal-contacts-success__icon {
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
}
.modal-contacts-success__title {
  margin-bottom: 5px;
  color: $primary-content;
}

.modal-contacts-success__text {
  max-width: 60%;
}

.modal-contacts__cross_success {
  margin-bottom: 60px;
}


@media screen and (max-width: 991px) {
  .modal__content_contacts {
    padding-right: 53px;
  }

  .modal__content_success {
    padding-left: 60px;
  }
}


@media screen and (max-width: 767px) {
  .modal__content_contacts {
    padding-right: 21px;
    padding-left: 21px;
  }

  .modal-contacts__title {
    max-width: 90%;
    margin-bottom: 20px;
  }

  .modal-contacts__cross {
    margin-bottom: 47px;
  }

  .modal-contacts__btn-submit {
    margin-top: 30px;
  }

  .modal-contacts-success__icon {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
  }

  .modal-contacts__cross_success {
    margin-bottom: 137px;
  }

  .modal-contacts-success__text {
    max-width: 75%;
  }
}
