.modal-menu {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-menu__block {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__cross {
  display: block;
  margin-left: auto;
  margin-bottom: 76px;
}

.menu__cross-icon {
  height: 29px;
  width: 29px;
}

.menu__list-item {
  margin-bottom: 20px;

  &:first-child {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__list-item-link {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: $primary-content;
}

.menu__social-list {
  display: flex;
}

.menu__social-list-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__social-list-item-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background: $primary-accent;
}

.menu__social-list-item-icon {
  width: 17px;
  height: 17px;
}

@media screen and (max-width: 767px) {
  .menu__cross {
    margin-bottom: 58px;
  }

  .menu__list-item-link {
    font-size: 20px;
  }

  .menu__list-item {
    margin-bottom: 25px;

    &:first-child {
      display: block;
    }
  }
}