.section-credit-policy {
  padding-top: 40px;
}

.credit-policy__content {
  display: grid;
  grid-template-columns: 10.5fr 10fr;
  grid-gap: 0 66px;
  align-items: flex-end;
}

.credit-policy__block {
  padding: 60px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.credit-policy__title {
  margin-bottom: 22px;
}

.credit-policy__text {
  margin-bottom: 39px;
}

@media screen and (max-width: 991px) {
  .credit-policy__content {
    grid-template-columns: 1fr;
  }

  .credit-policy__block {
    margin-bottom: 40px;
    padding: 40px;
  }

  .credit-policy__img-wrap {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .credit-policy__block {
    padding: 20px;
    margin-bottom: 30px;
  }

  .section-credit-policy {
    padding-top: 30px;
  }

  .credit-policy__title {
    margin-bottom: 10px;
  }

  .credit-policy__text {
    margin-bottom: 32px;
  }
}