.section-happy-customers {
  padding-top: 122px;
}

.happy-customers__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 50px
}

.happy-customers__column {
  align-items: center;
}

.happy-customers__title {
  margin-bottom: 20px;
}

.happy-customers__text {
  margin-bottom: 40px;
}

.happy-customers__subtitle {
  max-width: 50%;
  margin-bottom: 40px;
  font-family: "Gilroy Bold", sans-serif;
  font-size: 25px;
}

.happy-customers__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  grid-column-start: 2;
  grid-row: 1 / 5;
  align-items: center;
}

.happy-customers__list-item {
  padding: 25px 35px 21px 35px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 5px;
}

.happy-customers__list-item-number {
  margin-bottom: 5px;
}

@media screen and (max-width: 1199px) {
  .happy-customers__subtitle {
    max-width: 75%;
  }
}

@media screen and (max-width: 991px) {
  .section-happy-customers {
    padding-top: 80px;
  }

  .happy-customers__container {
    margin: 0 auto;
    max-width: 600px;
  }

  .happy-customers__content {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .happy-customers__list {
    grid-column-start: unset;
    grid-row: unset;
    grid-row-start: 3;
    margin-bottom: 40px;
  }

  .happy-customers__subtitle {
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .section-happy-customers {
    padding-top: 40px;
  }

  .happy-customers__container {
    max-width: 100%;
  }

    .happy-customers__title {
    margin-bottom: 10px;
  }

  .happy-customers__text {
    margin-bottom: 20px;
  }

  .happy-customers__list {
    grid-template-columns: 1fr;
    grid-gap: 10px 0;
    margin-bottom: 20px;
  }

  .happy-customers__subtitle {
    max-width: 85%;
    margin-bottom: 30px;
  }
}
