.section-main {
  padding-top: 200px;
  padding-bottom: 184px;
  background: top 80px right / cover url("@/assets/imgs/home/main-screen/Background.svg") no-repeat, $primary-accent;
  background-size: 100%;
}

.main__content {
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% minmax(0, auto);
  //grid-template-columns: repeat(2, minmax(0, auto));
  grid-template-rows: auto auto;
  gap: 57px 66px;
}

.main__title  {
  max-width: 90%;
}

.main__carousel {
  position: relative;
  grid-row: 1/-1;
  grid-column-start: 2;
  align-self: center;
  margin-top: 60px;
}

.main__carousel-swiper {
  width: 100%;
}

.main__carousel-slide-content {
  display: flex;
  justify-content: center;
}

.main__carousel-img {
  max-width: 82%;
}

.main__carousel-navigation-btn {
  position: absolute;
  top: 50%;
  left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-60%);
  height: 53px;
  width: 53px;
  background: $text-light;
  opacity: 0.8;
  border-radius: 50%;
  z-index: 25;
  cursor: pointer;
}

.main__carousel-btn-next {
  left: 100%;
  transform: translate(-100%, -60%);
}

.main__carousel-navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main__carousel-btn-next-img {
  color: $primary-accent;
  transform: translateX(25%) rotate(180deg);
}

.main__carousel-btn-prev-img {
  color: $primary-accent;
  transform: translateX(-25%)
}

.main__wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .section-main {
    padding-top: 140px;
    padding-bottom: 129px;
    background-position: center;
  }

  .main__content {
    grid-template-columns: minmax(0, 600px);
    gap: 60px 0;
  }

  .main__carousel {
    grid-row: 1;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .main__title {
    text-align: center;
  }

  .main__carousel-btn {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .section-main {
    padding-top: 105px;
    padding-bottom: 94px;
  }

  .main__content {
    gap: 40px 0;
  }

  .main__carousel-navigation-btn {
    width: 35px;
    height: 35px;
  }

  .main__carousel-arrow {
    height: 14.53px!important;
  }

  .main__carousel-btn-next-img {
    transform: translateX(10%) rotate(180deg);
  }

  .main__carousel-btn-prev-img {
    transform: translateX(-10%);
  }
}