.section-steps {
  padding-bottom: 121px;
  overflow: hidden;
}

.steps__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 107px;
  align-items: center;
  overflow-x: hidden;
}

.steps__title {
  max-width: 33%;
  margin-bottom: 60px;
}

.steps__list-item-number-icon {
  width: 75px;
  height: 67px;
}

.steps__imgs {
  display: flex;
}

.steps__img-phone {
  max-height: 511px;
  max-width: 255px;
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1));
}

.steps__list {
  max-width: 90%;
}

.steps__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  &:first-child {
    margin-bottom: 38px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__list-item-number {
  position: relative;
  font-family: "Gilroy Bold", sans-serif;
  font-size: 25px;
  margin-right: 20px;
  letter-spacing: 0.02em;
  line-height: 140%;
}

.steps__list-item-number-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.steps__list-item__title {
  margin-bottom: 5px;
  line-height: 32px;
}

.steps__list-item-description {
  position: relative;
}

.steps__img-phone-right {
  transform: translate(-9%, -1%) rotate(-15deg);
}

@media screen and (max-width: 991px) {
  .section-steps {
    padding-bottom: 80px;
  }

  .steps__list {
    max-width: 100%;
  }

  .steps__list-item {
    align-items: flex-start;
    margin-bottom: 40px;

    &:first-child {
      margin-bottom: 40px;
    }

    &:not(&:first-child) {
      .steps__list-item-number {
        position: relative;
        top: 12px;
      }
    }
  }



  .steps__title {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .steps__info {
    grid-template-columns: 12fr 5.5fr;
    grid-gap: 0 54.6px;
    align-items: flex-start;
  }

  .steps__imgs {
    flex-direction: column;
  }

  .steps__img-phone {
    position: relative;
    transform: rotate(15deg);

    img {
      max-height: 332px;
    }
  }

  .steps__img-phone-left {
    top: 19px;
  }

  .steps__img-phone-right {
    bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .section-steps {
    padding-bottom: 45px;
  }

  .steps__info {
    grid-template-columns: 1fr;
    overflow: unset;
  }

  .steps__title {
    margin-bottom: 30px;
  }

  .steps__list-item {
    &:first-child {
      margin-bottom: 22px;
    }

    &:not(.steps__list-item:first-child) .steps__list-item-number {
      top: 0;
    }
  }

  .steps__list-item__title {
    line-height: 25px;
  }

  .steps__list-item-number-icon {
    width: 52px;
    height: 60px;
  }

  .steps__list-item-number {
    font-size: 20px;
    margin-right: 20px;
  }

  .steps__list-item {
    margin-bottom: 20px;
  }

  .steps__list {
    margin-bottom: 50px;
    max-width: 95%;
  }

  .steps__imgs {
    flex-direction: row;
    justify-content: center;
  }

  .steps__img-phone {
    img {
      max-height: 298px;
    }
  }

  .steps__img-phone-left {
    top: 0px;
    left: -10px;
    transform: rotate(0);
  }

  .steps__img-phone-right {
    top: 0;
    transform: translate(-15%, -1%) rotate(-15deg);
  }
}