.car-page {
  padding-top: 80px;
}

.car-page-info {
  padding-top: 40px;
}

.car-page-info__content {
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-gap: 0 50px;
}

.car-page-info__carousel-swiper-wrap {
  max-width: 100%;
}

.car-page-info__carousel-swiper2-wrap {
  position: relative;
}

.car-page-info__subtitle {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 16px;
  line-height: 159%;
  color: $secondary-text;
  margin-bottom: 20px;
}

.car-page-info__main-carousel-img-wrap {
  position: relative;
  padding-top: 56%;
}

.car-page-info__main-carousel2-img-wrap {
  position: relative;
  padding-top: 54%;
}

.car-page-info__main-carousel-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-page-info__carousel-swiper {
  margin-bottom: 20px;
}

.car-page-info__type-img-btn {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-family: "Gilroy Bold", sans-serif;
  font-size: 16px;
  line-height: 14px;
  background: #FFFFFF;
  border-radius: 2px;
  margin-right: 7px;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}

.car-page-info__carousel-swiper-main-wrap {
  position: relative;
}

.car-page-info__type-img-btn_dark {
  color: #fff;
  background: rgba(215, 215, 215, 0.2);
}

.car-page-info__type-img-btn-wrap {
  display: flex;
  align-items: center;
}

.car-page-info__btns-wrap {
  width: calc(100% - 40px);
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.car-page-info__share-search {
  svg {
    color: #fff;
  }
}

.car-page-info__detail-parameters {
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D7D7D7;

  &:first-child {
    padding-top: 0;
  }

  &:nth-child(2) {
    padding-bottom: 58px;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 48px;
  }
}

.car-page-info__detail-list-item-label {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 16px;
  line-height: 159%;
  color: $secondary-text
}

.car-page-info__detail-list-item-number {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 25px;
  line-height: 140%;
  text-transform: capitalize;
}

.car-page-info__detail-list-item-number_color {
  color: $primary-accent;
}

.car-page-info__detail-list-item {
  margin-bottom: 20px;
}

.car-page-info__detail-list-item-label_price {
  line-height: unset;
}

.car-page-info__detail-list {
  display: grid;
  grid-template-columns: 56% 44%;
  grid-gap: 0 20px;
}

.car-page-info__detail-additional-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.car-page-info__detail-description-title {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 16px;
  line-height: 159%;
  color: $secondary-text;
  margin-bottom: 20px;
}

.car-page-info__carousel2-swiper-slide {
  &.swiper-slide-thumb-active {
    border: 2px solid #7481FF;
    border-radius: 2px;
  }
}

.car-page-info__detail-btn-more {
  min-width: 280px;
  font-size: 16px;
}

.car-page__calculator-title {
  max-width: 55%;
  margin-bottom: 60px;
}

.car-page-calculator {
  padding-bottom: 40px;
}

.car-page__btn-request {
  display: none;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .car-page-info__content {
    grid-template-columns: 100%;
  }

  .car-page-info__container {
    max-width: 600px;
    margin: 0 auto;
  }

  .car-page-info__carousel-swiper-wrap {
    margin-bottom: 176px;
  }

  .car-page__calculator-title {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .car-page__btn-request {
    display: flex;
  }

  .car-page-info__btns-wrap {
    left: 10px;
    bottom: 10px;
    right: 10px;
    display: flex;
    width: unset;
    overflow-x: hidden;
  }

  .car-page-info__type-img-btn {
    height: 29px;
    padding: 0 13px;
  }

  .car-page {
    padding-top: 55px;
  }

  .car-page-info {
    padding-top: 20px;
  }

  .car-page-info__title {
    margin-bottom: 10px;
  }

  .car-page-info__subtitle {
    font-size: 14px;
  }

  .car-page-info__carousel-swiper-wrap {
    margin-bottom: 84px;
  }

  .car-page-info__detail-list-item-number {
    font-size: 20px;
  }

  .car-page-info__detail-parameters {
    padding-top: 40px;
    padding-bottom: 20px;

    &:nth-child(2) {
      padding-bottom: 40px;
    }
  }

  .car-page-info__detail-additional-list {
    grid-template-columns: 1fr;
  }

  .car-page-info__detail-btn-more {
    min-width: 247px;
  }
}


