.section-cars-catalog {
  padding: 120px 0 40px 0;
  min-height: 100%;
}

.cars-catalog__wrap {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 100%;
}

.cars-catalog__items {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 19px
}

.cars-catalog__items-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cars-catalog__pagination {
  display: flex;
  justify-content: center;
}

.cars-catalog__items {
  margin-bottom: 60px;
}

.cars-catalog__header {
  margin-bottom: 19px;
}

.cars-catalog__search-wrap {
  display: flex;
  align-items: center;
}

.cars-catalog__search {
  margin-right: 20px;
}



