.quiz-section {
  padding-top: 120px;
  padding-bottom: 40px;
}

.quiz__content {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.quiz__form-wrap {
  min-width: 50%;
  max-width: 50%;
}