.share-btn__wrap {
  position: relative;
  display: inline-block;
}

.share-btn__icon{
  width: 24px;
  height: 24px;
}

.share-btn {
  &:hover {
    & ~ .share-btn__tooltip {
      opacity: 1;
    }
  }
}

.share-btn__tooltip {
  padding: 5px;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: "Gilroy Medium", sans-serif;
  font-size: 16px;
  line-height: 159%;
  height: auto;
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  text-align: center;
  border: 1px solid rgba(116, 129, 255, 0.2);
  border-radius: 2px;
  background: #fff;
  opacity: 0;

  &:active {
    opacity: 1;
  }
}